<div class="container mt-5">

    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Insert your name here" [(ngModel)]="name">
    </div>
    <div class="form-group mt-3">
      <label>Task</label>
      <select class="form-select" aria-label="Default select example" (change)="onTaskChange($event)">
        <option selected disabled>Select Task</option>
        <option *ngFor="let task of tasks" [value]="task.externalId">{{ task.name }}</option>
      </select>
    </div>
    <div class="form-group mt-3" *ngIf="selectedTask">
      <label>Description</label>
      <div>{{ selectedTask.description }}</div>
    </div>
    <div class="form-group mt-3">
      <label>Solution Code</label>
      <textarea class="form-control fixed-size" rows="20" [(ngModel)]="solutionCode"></textarea>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-secondary mt-2" (click)="onTaskSubmit()">Submit</button>
    </div>
    <div class="form-group mt-3">
      <label>Output</label>
      <textarea class="form-control fixed-size" rows="5" [(ngModel)]="output" disabled></textarea>
    </div>
</div>
